
// @import '../' 
.welcome-style{
    color:red;
    text-align: left;
}

.active-style{
color:green
}
.inactive-style{
    color:red
    }

.main1{
    .signin {
 color: green;
 font-weight: bold;
    }
}
.main2{
    .signin {
 color: red
     
    }
}

.signin {
    font-size: 50px;
       
       }

